-	: todo
--	: done
-*	: in progress

High priority:
- fix lag on color change
- find a better way to play/pause
- add "no image" image
- add right/top borders to fullscreen mode
- fix thickness slider tick location
- complete cycle before pausing
- not all images are working

Mid priority:
-* adding per-client profile
- link bunber of dot in a cycle to the max/min speed, and later to the screen size
- fix min and max speed names in settings

low priority:
- add an unblocking process wher the point stops and taunts the user

LATER:
- network control >>> mobile app control

