-	: todo
--	: done
-*	: in progress

High priority:
- fix lag on color change
- add space and esc - add keyboard shortcuts for controls
- make speed faster
- find a better way to play/pause
- fix dimentions of buttons in image settings
- add "no image" image


Mid priority:
-- make canvas inlargable like youtube

low priority
-- color controls
- add pic to head of line

LATER:
- network control
- mobile app control
-* adding per-client profile
